<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Shop</title>
</head>
<body>
  <h2>Список товаров</h2>
  <table border="0">
    <tbody>
      <tr>
        <b>
          <td>Название</td>
          <td>Категория</td>
          <td>Описание</td>
          <td>Название</td>
        </b>
      </tr>
      <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.category?.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>